{% extends 'base.html' %}


{% block body %}

<div class="content">

    <h1>National Park and Trail Manager</h1>

    {% if trail_list %}
    <h2>Park Name: {{park}}</h2>
        <form method="POST">
            <table class="table table-bordered">

                <tr>
                    <th scope="col">Trail Name</th>
                    <th scope="col">Trail Summary</th>
                    <th scope="col">Trail Length(in miles)</th>
                    <th scope="col">Save Trail</th>
                </tr>

                <tbody>
                {% for trail in trail_list %}
                    <tr>
                        <td name="trailname">{{trail['name']}}</td>

                        <td>{{trail['summary']}}</td>
                        <td>{{trail['length']}}</td>
<!--                        https://stackoverflow.com/questions/51803008/send-table-data-via-form-to-flask-method-->
                        <td name="trail-obj"><button type="submit" style="border:none; border-bottom: 1px solid black;" value="{{trail['name']}}">Save</button>
                        <input id="trail-obj" name="trail-obj"  value=" {{ trail['name'] }} "/></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    {% else %}
    <h4><i>No Trails available at {{park}}</i></h4>
    {% endif %}

    {% if weather_list %}
        <h2>Park Name: {{park}}</h2>
            <table class="table table-bordered">
                <tr>
                    <th scope="col">Forecast Date</th>
                    <th scope="col">Temperature</th>
                    <th scope="col">Description</th>
                    <th scope="col">Humidity</th>
                    <th scope="col">Rain</th>
                </tr>
                {% for weather in weather_list %}
                    <tr>
                        <td>{{weather['date']}}</td>
                        <td>
                            Min: {{weather['temp']['min']}}F<br>
                            Max: {{weather['temp']['max']}}F<br>

                        </td>
                        <td>{{weather['desc']}}</td>
                        <td>{{weather['humidity']}}</td>
                    {% if weather['rain'] is defined %}
                        <td>{{weather['rain']}}</td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}

                    </tr>
                {% endfor %}
            </table>
        {% else %}
        <h4><i>No Weather Forecast available at {{park}}</i></h4>
        {% endif %}

    <form method="POST" >
        <button type="button" name="back-page" value="back-page">Back to Previous Page</button>
        <input type="hidden" name="state" value="{{ state }}" />
    </form>

</div>






{% endblock %}