{% extends 'base.html' %}


{% block body %}

<div class="content">

    <h1>National Park and Trail Manager</h1>

    {% if trail_list %}
    <h2>Park Name: {{park}}</h2>
        <table>
            <tr>
                <th>Trail Name</th>
            </tr>
            {% for trail in trail_list %}
                <tr>
                    <td>{{trail}}</td>


                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Trails available at {{park}}</p>
    {% endif %}



</div>






{% endblock %}