{% extends "base.html" %}

{% block head %}

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">National Park and Trail Manager</h1>
</div>


{% endblock %}

{% block body %}

<div class="container">

    <h2>Please select the state that you want to visit</h2>
    <br>
    <br>
    <div class="form">
        <form action="/parks" method="GET" >
            <select id="states" name="states" method="GET" action="/">
            {% for state_name, state_abbrev in states_dict.items() %}
                <option value="{{state_abbrev}}">{{state_name}}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Get information"/>
        </form>
    </div>

</div>

<div class="container">
    <br>
    <form method="POST" >
        <button name="saved-trails" value="saved-trails" type="submit" class="btn btn-primary btn-lg btn-block">Show Bookmarked Trail Info</button>
    </form>

</div>

{% endblock %}