{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<div class="content">

    <div class="jumbotron bg-success text-white">
    <h1 class="display-4">National Park and Trail Manager</h1>

    <hr class="my-4">
    <h2>State: {{state}}</h2>
    </p>
    </div>

    {% if park_list %}

    <table class="table table-bordered">
        <tr>
            <th scope="col">Park Name</th>
            <th scope="col">Park Type</th>
            <th scope="col">City</th>
        </tr>
        {% for park in park_list %}
            <tr>
                <td>{{park['name']}}</td>
                {% if park['designation'] %}
                <td>{{park['designation']}}</td>
                {% else %}
                <td>N/A</td>
                {% endif %}
                {% if park['city'] %}
                <td>{{park['city']}}</td>
                {% else %}
                <td>N/A</td>
                {% endif %}
                <td>
                    <a href="/moreinfo/{{state}}/{{park['name']}}/{{park['lat']}}/{{park['lon']}}">More Info</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No Parks available at {{state}}</p>
    {% endif %}

    <form method="POST" >

        <button type="submit" name="back-page"  class="btn btn-info btn-lg" value="back-page">Back to Previous Page</button>

    </form>

</div>






{% endblock %}